{:paths ["src"]
 :deps {dev.tamboui/tamboui-tui {:mvn/version "0.4.0"}
        dev.tamboui/tamboui-widgets {:mvn/version "0.4.0"}
        dev.tamboui/tamboui-jline3-backend {:mvn/version "0.4.0"}
        dev.tamboui/tamboui-toolkit {:mvn/version "0.4.0"}
        org.clojure/clojure {:mvn/version "1.12.0"}}
 :aliases {:nrepl {:extra-deps {nrepl/nrepl {:mvn/version "1.3.0"}}
                   :main-opts ["-m" "nrepl.cmdline" "--port" "7888"]}}}
